@media (max-width:500px){
    .cabecalho {
        align-items: center;
        justify-content: center;
        max-width: 25%;
        height: 85vh;
    }
    .cabecalho nav ul{
        align-items: center;
        justify-content: center;
        gap: 30px;
        font-size: 40px;
        text-align: center;
    }

    .cabecalho nav ul li button{
        font-size: 18px;
    }

}