@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Public Sans' , sans-serif;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 45px;
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.cabecalho .logo h1 {
    font-size: 20px;
    margin-left: 5px;
}

.items {
    list-style: none;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    flex-wrap: wrap;
}

.cabecalho ul.items li {
    padding: 10px 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.cabecalho li button {
    border-radius: 10px;
    background-color: #5BC241;
    padding: 18px;
    color: #fff;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 15px;
}

.cabecalho li button:hover {
    color: #5BC241;
    background-color: #fff;
}

.cabecalho li.items-menu:hover {
    background-color: #5BC241;
    color: #fff;
    transform: scale(1.1);
}